{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/navbar.css"/>
{% endblock %}


{% block content %}
    <div class="bg">
      </div>
    <div class="main">
            {% block navbar %}
                {% include 'components/_navbar.html.twig' %}
            {% endblock %}
            {% block videos %}
                {% include 'components/_video50.html.twig' %}
            {% endblock %}
    </div>
{% endblock %}
