<div class="topnav">
    <a class="logoDesktop" href="/" title="Home"><img src="/assets/images/logo2.png
    " alt="Logo"/></a>
    <div id="myLinks">
        <a href="/">Vote</a>
        <a href="/classement">Scores</a>
    </div>
</div>
